<%- include('partials/header.ejs') %>
<link href="./css/game.css" rel="stylesheet">

<main>
    <div class="centerMessage ui" id="introMessage">
        <h2>Welcome to</h2>
        <h1>Mirrored Fantasy</h1>
        <br>
        <hr>
        <label for="name">Display Name</label>
        <input id="name" placeholder="Player">
        <p id="error"></p>
        <br>
        <button id="ready" disabled>Ready</button>
    </div>
    <canvas class="game"></canvas>
</main>

<script src="js/clientJS/socket.io/socket.io.js"></script>
<script async type="module" src="js/clientJS/index.js"></script>

<%- include('partials/footer.ejs') %>