<%- include('partials/header.ejs') %>

<main>

    <h1>Welcome to Mirrored Fantasy</h1>
    <p>This game is still in development <a href="/game">click here to play</a></p>

</main>

<%- include('partials/footer.ejs') %>