<%- include('partials/header.ejs') %>
<link href="https://fonts.googleapis.com/css?family=Exo+2%7CLobster&display=swap" rel="stylesheet">
<link href="./css/game.css" rel="stylesheet">
<link href="./css/mapEditor.css" rel="stylesheet">

<main>
    <canvas class="game" style="cursor: default;"></canvas>

    <div class="menu" id="menu">
        <div class="select">
            <h2>Select a Tile</h2>
            <ul class="selectList" id="tileSelectList"> </ul>
        </div>
        <div class="select">
            <h2>Select a Decoration</h2>
            <ul class="selectList" id="decorationSelectList"> </ul>
        </div>
        <div class="select">
            <h2>Select a Layer</h2>
            <ul class="selectList" id="layerSelectList"> </ul>
        </div>
        <div class="select" id="traversalSelectList">
            <h2>Tile Traversal</h2>
        </div>
        <div class="select">
            <h2>Select a Region</h2>
            <ul class="selectList" id="regionSelectList"> </ul>
        </div>
        <button id="save">Save</button>
    </div>
    <%- include('partials/tileLoading.ejs') %>
</main>

<script asyc type="module" src="js/clientJS/mapGen/mapGen.js"></script>

<%- include('partials/footer.ejs') %>