.menu {
    position: absolute;
    left: 99%;
    top: 1%;
    transform: translateX(-100%);
    z-index: 10;
    border: solid black 2px;
    background-color: gray;
    text-align: center;
}
ul {
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
    margin: 0px;
    padding-bottom: 4px;
}

li:hover{
    transition: .2s;
    color: red;
    text-shadow: 1rem;
}
.active {
    color: darkslategray;
}

/* put back in to have hover dropdown
.selectList {
    overflow: hidden;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: 1s ease;
}

.select:hover 
*/
.selectList {
    transform: scaleY(1);
    /*Adjust me if one of the lists gets too long*/
    max-height: 500px;
}